:root {
	font-family: Inter, sans-serif;
	font-feature-settings: 'liga' 1, 'calt' 1;
	--nav-bg-color: #18181c;
    --store-width: 1060px;
}

input, label, select, button, textarea {
    margin: 0;
    border: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background: none;
    line-height: 1;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-display: swap;
}

@supports (font-variation-settings: normal) {
  	:root { font-family: InterVariable, sans-serif; }
}

html, body {
	max-width: 100%;
	/* overflow-x: hidden; */
}

body {
    display: flex;
    flex-direction: column;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 0.2px;
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
    margin: 0;

    background-color: #121212;
    color: #ebf2f4;
}

main {
    flex: 1;
    margin: 16px auto;
    width: calc(100% - 2 * 2%); /* padding (2 * 2%) from below */
    max-width: var(--store-width);
    padding: 0 2%;
}

a {
	color: #b7bdbf;
	transition: color 350ms;
	text-decoration: none; 
}

a:hover {
	color: #ebf2f4;
	cursor: pointer; 
}